.form-control {
	border: var(--bs-border-width) solid #6c757d;
}

.btn-outline-secondary {
	--bs-btn-hover-bg: #65a9b6;
}

.dropdown-menu-dark {
	--bs-dropdown-bg: #65a9b6;
	--bs-dropdown-link-hover-bg: #65a9b6;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
	color: var(--bs-btn-active-color);
	background-color: #65a9b6;
	border-color: var(--bs-btn-active-border-color);
}

h6{
    font-weight: 600;
}

h6 span{
    color: #65a9b6;
}

.form-check-input:checked {
	background-color: #65a9b6;
	border-color: #65a9b6;
}